.FilterTree {
  max-height: 600px;
  max-width: 100%;
  overflow: auto;
}

.FilterTree .check-all-btn {
  opacity: 0;
  transition: opacity 0.2s;
}

.FilterTree div:hover .check-all-btn {
  opacity: 1;
}
