.FeatureList {
    .selected {
        font-weight: bold;
    }

    svg {
        font-size: 1.3em;
        padding: 3px;
        background-color: white;
        border-radius: 40px;
    }

    .pro-inner-list-item {
        padding-left: 8px !important;
    }
}
