@import './SidePanel.scss';

.Main-Visualization {
  /*margin: 3em 0;
  margin-left: $sidebar-width;
  margin-right: $sidebar-width;*/
  flex-grow: 1;
  flex-direction: column;
  display: flex;

  .nav{
    padding: 0.5em;
  }
}

.charts {
  flex-direction: column;
}

.tab-content {
  border: 0;
}

.filter-data{
  vertical-align: top;
  text-align: left;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.chart-cell{
  vertical-align: top;
}

.filters-visualization {
  display: flex;
  margin-top: 1em;
}

.filter-visualization {
  flex: 1;
}

.filter-visualization ul {
  font-size: small;
  padding: 0;
  list-style-type: none;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
}

.feature-selection ul {
  padding: 0;
  list-style-type: none;
  max-height: 100px;
  overflow-y: auto;
  text-align: left;
}

.vega-embed{
  width: 100% !important;
}

.visualization-table{
  width: 100%;
}

.visualization-table td{
  white-space: nowrap;
}
