@import './SidePanel.scss';

.Main-Visualization {
  /*margin: 3em 0;
  margin-left: $sidebar-width;
  margin-right: $sidebar-width;*/
  flex-grow: 1;
  flex-direction: column;
  display: flex;

  .nav{
    padding: 0.5em;
  }
}

.charts {
  flex-direction: column;
}

.tab-content {
  border: 0;
}

.filters-visualization {
  display: flex;
  margin-top: 1em;
}

.feature-selection ul {
  padding: 0;
  list-style-type: none;
  max-height: 100px;
  overflow-y: auto;
  text-align: left;
}

.vega-embed{
  width: 100% !important;
}
